{% extends "base.html" %}

{% block title %}Gestione compiti{% endblock %}
{% block header-title %}Gestione compiti{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            Il modulo "gestione compiti" permette di aggiungere compiti per la classe
                            selezionata specificando il titolo, una breve descrizione e le date di
                            inizio e fine.
                        </p>
                    </blockquote>
                    <div class="btn-group">
                        <a href="/classes/{{ class.pk }}/students/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon glyphicon-arrow-left"></span> {{ class.name }}
                        </a>
                        <a onclick="massignment.openAssignmentModal()" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Aggiungi
                        </a>
                    </div>
                </div>
                {% if not assignments %}
                    <h1>Non ci sono compiti assegnati</h1>
                {% else %}
                    <div class="row">
                    {% for assm in assignments %}
                        <div class="col-md-3 draggable">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a href="#">{{ assm.title }}</a>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <p><b>Descrizione:</b> {{ assm.description }}</p>

                                    <p><b>Data inizio:</b> {{ assm.date_begin }}</p>

                                    <p><b>Data fine:</b> {{ assm.date_end }}</p>
                                </div>
                                <div class="panel-footer">
                                    <a href="/classes/{{ class.pk }}/homework/remove/{{ assm.pk }}/"
                                       class="btn btn-xs btn-danger">
                                        Rimuovi <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    <a href="javascript:;"
                                       class="btn btn-xs btn-primary"
                                       onclick="massignment.openAssignmentModal('{{ assm.pk }}', {title: '{{assm.title}}', description: '{{assm.description}}', date_begin: '{{assm.date_begin}}', date_end: '{{assm.date_end}}'})">
                                        Modifica <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="assignmentModalLabel"
             aria-hidden="true" data-type="add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="assignmentModalLabel">Aggiungi compito</h2>
                    </div>
                    <div class="modal-body">
                        <form action="." method="post">{% csrf_token %}
                            <label>Titolo</label>
                            <input id="title" type="text" class="form-control">
                            <label>Descrizione</label>
                            <textarea id="description" class="form-control"></textarea>
                            <label>Data inizio</label>
                            <input id="date_begin" type="text" class="form-control" data-date-format="yyyy-mm-dd">
                            <label>Data fine</label>
                            <input id="date_end" type="text" class="form-control" data-date-format="yyyy-mm-dd">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                        <button id="addAssignmentModalSave" type="button" class="btn btn-primary">Salva</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Helpers -->
        <input id="helper-class" type="hidden" value="{{ class.pk }}">
{% endblock %}