{% extends "base.html" %}

{% block title %}Registro{% endblock %}
{% block header-title %}{{ class.name }} - registro, {{ date }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <input type="text" id="attendance-date" class="form-control" data-date-format="yyyy-mm-dd"
                                    value="{{ date }}" >
                                <span class="input-group-btn">
                                    <a id="change-att-date" onclick="mattendance.changeDateAtt('{{ class.pk }}', $('#attendance-date').val());" class="btn btn-primary" href="javascript:;">
                                        Cambia data
                                    </a>
                                    <a href="/classes/{{ class.pk }}/students/" class="btn btn-primary">
                                        <span class="glyphicon glyphicon glyphicon-arrow-left"></span> {{ class.name }}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not att %}
                    <h2>Non è registrato niente</h2>
                {% else %}
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="success">
                            <td>Studente</td>
                            <td>Tipo</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in att %}
                            <tr>
                                <td>{{ a.student.first_name }} {{ a.student.last_name }}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <select id="att-type-{{ forloop.counter }}" class="form-control">
                                                    <option {% if a.type == "NA" %} selected {% endif %}>NA</option>
                                                    <option {% if a.type == "Presente" %} selected {% endif %}>Presente</option>
                                                    <option {% if a.type == "Assente" %} selected {% endif %}>Assente</option>
                                                </select>
                                                <span class="input-group-btn">
                                                    <button onclick="mattendance.applyAttendance('{{ class.pk }}', '{{ date }}', '{{ a.pk }}', $('#att-type-{{ forloop.counter }}').val())" class="btn btn-primary">
                                                        <span class="glyphicon glyphicon-ok"></span> OK
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
{% endblock %}