{% extends "base.html" %}

{% block title %}Libri{% endblock %}
{% block add-scripts %}
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
      function openBookByTitle(title) {
        showCanvas(false);
        showStatus('Sto cercando ' + title + '...');
        beginSearch(title);
      }

      function beginSearch(query) {
        // Dynamically load the search results in JavaScript,
        // using the Books API
        // Once loaded, handleResults is automatically called with
        // the result set
        var script = document.createElement("script");
        // We might need to supply a key for this or else we might run into
        // quota limits.
        script.src = 'https://www.googleapis.com/books/v1/volumes?q='
          + encodeURIComponent(query) + '&filter=partial'
          + '&callback=handleResults'
          + '&key=AIzaSyA59OEyQ04fsRKplv1I36jMuSS4BJY_KiQ';
        script.type = "text/javascript";
        document.getElementsByTagName("head")[0].appendChild(script);
      }

      function handleResults(root) {
        // Find the identifier of the first embeddable match
        // If none found, report an error
        var entries = root.items || [];

        console.log(entries);
        $("#thumbCanvas").children().remove();
        $('<table class="table table-hover table-bordered"><thead><tr class="success"><td>Titolo</td><td>Autori</td><td>Valutazione</td><td>Categorie</td><td>N. pagine</td><td>Anteprima</td></tr></thead><tbody id="books-table"></tbody></table>').appendTo("#thumbCanvas");

        for (var i = 0; i < entries.length; ++i) {
            var entry = entries[i],
                authors = "",
                rating = !entry.volumeInfo.averageRating ? "NA" : entry.volumeInfo.averageRating,
                cat = "",
                page_count = !entry.volumeInfo.pageCount ? "NA" : entry.volumeInfo.pageCount,
                tag_load = entry.accessInfo.embeddable ? "<button class='load-preview btn btn-primary' data-id='" + entry.id + "'>Carica</button>" : "NA";

            for (var j = 0; j < entry.volumeInfo.authors.length; j++)
                authors += entry.volumeInfo.authors[j] + "<br>";

            if (entry.volumeInfo.categories)
                for (var j = 0; j < entry.volumeInfo.categories.length; j++)
                    cat += entry.volumeInfo.categories[j] + "<br>";

            $("#books-table").append("<tr><td>" + entry.volumeInfo.title + "</td><td>" + authors + "</td><td>" + rating + "</td><td>" + cat + "</td><td>" + page_count + "</td><td>" + tag_load + "</td></tr>");
        }

        for (var i = 0; i < entries.length; ++i) {
          var entry = entries[i];
          var isEmbeddable = entry.accessInfo.embeddable;
          var identifier = entry.id;

          if (isEmbeddable) {
            loadBook(identifier, false);
            return;
          }
        }

        showStatus('Could not find a match');
      }

      function loadBook(identifier, loaded) {
        // Load the Embedded Viewer API, calling showBook when it's ready
        if (!loaded) {
            var callbackFn = function() { showBook(identifier); };
            google.load("books", "0", { "callback" : callbackFn });
        }
        else {
            showBook(identifier);
        }
      }

      function showBook(identifier) {
        // We have the book ID, API is loaded, now just show it
        var canvas = document.getElementById('viewerCanvas');
        viewer = new google.books.DefaultViewer(canvas);
        viewer.load(identifier);

        showCanvas(true);
        showStatus('');
      }

      function showCanvas(showing) {
        var canvasDiv = document.getElementById('viewerCanvas');
        canvasDiv.style.display =  (showing) ? 'block' : 'none';
      }

      function showStatus(string) {
        var statusDiv = document.getElementById('viewerStatus');
        var showing = !(string == null || string.length == 0);
        if (statusDiv.firstChild) {
          statusDiv.removeChild(statusDiv.firstChild);
        }
        statusDiv.appendChild(document.createTextNode((showing) ? string : ''));
        statusDiv.style.display =  (showing) ? 'block' : 'none';
      }

      $(document).ready(function() {
        $(document).on("click", ".load-preview", function(){
            loadBook($(this).attr("data-id"), true);
        });
      });
</script>
{% endblock %}

{% block header-title %}Libri <small>Visualizzazione anteprima</small>{% endblock %}

{% block content %}
<div class="text-center">
    <form class="form-inline" name="inputForm" onsubmit="openBookByTitle(this.query.value); return false;" method="get">
        <label class="sr-only" for="query">Titolo del libro</label>
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" size="30" id="query" name="query" class="form-control" placeholder="Inserisci titolo"/>
                     <span class="input-group-btn">
                         <input type="submit" class="btn btn-primary" value="Cerca"/>
                     </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="viewerStatus" style="padding: 5px; background-color: #eee; display: none"></div>
<div id="viewerCanvas" style="width: 500px; height: 400px; display: none"></div>
<div id="thumbCanvas" style="width: 500px; height: 400px; margin-top: 50px;"></div>
{% endblock %}