{% extends "base.html" %}

{% block title %}Calendario{% endblock %}
{% block header-title %}Calendario{% endblock %}

{% block add-css %}
        <link rel="stylesheet" href="/static/css/calendar.css">
{% endblock %}
{% block add-scripts %}
        <script>
            var TODOS = '{{ todos|safe }}';
            var LESSONS = '{{ lessons|safe }}';
            var ASSIGNMENTS = '{{ assignments|safe }}';
        </script>
        <script src="/static/js/underscore-min.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/calendar-it.js"></script>
        <script src="/static/js/clndr.min.js"></script>
        <script src="/static/js/calendar.js"></script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="cal1"></div>

                <script type="text/template" id="template-calendar">
                    <div class="clndr-controls">
                        <div class="clndr-previous-button">&lsaquo;</div>
                        <div class="month"><%= month %></div>
                        <div class="clndr-next-button">&rsaquo;</div>
                    </div>
                    <div class="clndr-grid">
                        <div class="days-of-the-week">
                            <% _.each(daysOfTheWeek, function(day) { %>
                            <div class="header-day"><%= day %></div>
                            <% }); %>
                            <div class="days">
                                <% _.each(days, function(day) { %>
                                <div class="<%= day.classes %>"><%= day.day %></div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="clndr-today-button">Today</div>
                </script>

                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="modalLabel">Eventi</h4>
                            </div>
                            <div class="modal-body" id="modalDesc">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}