{% extends "info.html" %}

{% block title %}Documentazione utenti{% endblock %}

{% block intro %}
    <h1><a href="/">Documentazione<br>utenti</a></h1>
    <div class="line-spacer"></div>

    <div class="btn-group">
        <a class="btn btn-info" href="/login/">Login</a>
        <a class="btn btn-info" href="/signup/">Registrati</a>
        <a class="btn btn-info" href="/">Home</a>
    </div>
{% endblock %}

{% block content %}
    <section id="services" class="single-page scrollblock">
        <div class="container">
            <div class="align"><i class="icon-cog-circled"></i></div>
            <h1>Documentazione utenti</h1>

            <!-- ROW 1 -->
            <div class="row">
                <a href="#intro-gui" class="span3">
                    <h2>Introduzione GUI</h2>
                </a>
                <a href="#auth" class="span3">
                    <h2>Autenticazione</h2>
                </a>
                <a href="#screen-saver" class="span3">
                    <h2>Blocco schermo</h2>
                </a>
                <a href="#settings" class="span3">
                    <h2>Impostazioni</h2>
                </a>
            </div><br>

            <!-- ROW 2 -->
            <div class="row">
                <a href="#classes" class="span3">
                    <h2>Gestione classi</h2>
                </a>
                <a href="#students" class="span3">
                    <h2>Gestione studenti</h2>
                </a>
                <a href="#grade-book" class="span3">
                    <h2>Valutazioni</h2>
                </a>
                <a href="#attendance" class="span3">
                    <h2>Registro</h2>
                </a>
            </div><br>

            <!-- ROW 3 -->
            <div class="row">
                <a href="#notes" class="span3">
                    <h2>Gestione note</h2>
                </a>
                <a href="#assignments" class="span3">
                    <h2>Gestione compiti</h2>
                </a>
                <a href="#lessons" class="span3">
                    <h2>Gestione lezioni</h2>
                </a>
                <a href="#todo-list" class="span3">
                    <h2>Gestione to-do list</h2>
                </a>
            </div><br>

            <!-- ROW 4 -->
            <div class="row">
                <a href="#mind-maps" class="span3">
                    <h2>Mappe concettuali</h2>
                </a>
                <a href="#pres" class="span3">
                    <h2>Strumento di presentazione</h2>
                </a>
                <a href="#editor" class="span3">
                    <h2>Editor di documenti</h2>
                </a>
                <a href="#books" class="span3">
                    <h2>Gestione libri</h2>
                </a>
            </div><br>

            <!-- ROW 5 -->
            <div class="row">
                <a href="#papers" class="span3">
                    <h2>Gestione pubblicazioni</h2>
                </a>
                <a href="#forum" class="span3">
                    <h2>Forum</h2>
                </a>
                <a href="#mailbox" class="span3">
                    <h2>Messaggi privati</h2>
                </a>
                <a href="#calendar" class="span3">
                    <h2>Calendario</h2>
                </a>
            </div><br>
        </div>
        <!-- /.container -->
    </section>

    <div class="container">
        <!-- DOC INTRO -->
        <div class="row">
            <div class="col-md-12">
                <h1 id="intro-gui">Introduzione GUI</h1>

                <p>
                    La GUI (Graphical User Interface, Interfaccia utente) è molto
                    semplice ed intuitiva.
                </p>

                <p>
                    Essa è composta da 3 sezioni:
                </p>
                <ul>
                    <li>Barra laterale destra: contiene tutti i moduli/strumenti di Tkit.</li>
                    <li>
                        Barra in alto: contiene i vari controlli di
                        gestione delle impostazioni, notifiche di messaggi, notifiche di moduli,
                        logout e blocco schermo.
                    </li>
                    <li>
                        Contenuto: questa è la sezione in cui vengono visualizzati tutti i dati
                        memorizzati e l'interazione vera e propria con l'utente.
                    </li>
                </ul>
            </div>
        </div>

        <!-- AUTENTICAZIONE -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="auth">Autenticazione</h2>

                <p>
                    Il processo di autenticazione è semplice: nella pagina principale è possibile
                    registrarsi oppure fare il login.<br> Una volta eseguito il login sarai ridirezionato
                    alla pagina principale dell'applicazione web.<br> Da questo punto in poi potrai
                    iniziare ad usare l'applicazione come utente registrato.
                </p>
            </div>
        </div>

        <!-- BLOCCO SCHERMO -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="screen-saver">Blocco schermo</h2>

                <p>
                    Il blocco schermo è una funzionalità di base per le applicazioni desktop e non
                    solo. Con questa feature infatti è possibile lasciare in sospeso l'applicazione
                    senza che essa esegui operazioni in background (context preprocessing ecc...)
                    per poi ritornare al lavoro.
                </p>
            </div>
        </div>

        <!-- IMPOSTAZIONI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="settings">Impostazioni</h2>

                <p>
                    Tkit ti offre un livello aggiuntivo di personalizzazione dell'applicazione
                    sia in senso grafico che logico.
                </p>

                <p>
                    Infatti con le impostazioni Tkit è possibile:
                </p>
                <ul>
                    <li>Cambiare il tema dell'applicazione (in modo permanente)</li>
                    <li>Cambiare il layout dell'applicazione (normale o fisso)</li>
                    <li>Gestire il limite delle assenze per ogni studente</li>
                    <li>Gestire il limite di note negative per ogni studente</li>
                    <li>Gestire il numero di studenti per classe</li>
                </ul>
            </div>
        </div>

        <!-- GESTIONE CLASSI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="classes">Gestione classi</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- GESTIONE STUDENTI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="students">Gestione studenti</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- VALUTAZIONI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="grade-book">Valutazioni</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- REGISTRO -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="attendance">Registro</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- GESTIONE NOTE -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="notes">Gestione note</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- GESTIONE COMPITI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="assignments">Gestione compiti</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- GESTIONE LEZIONI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="lessons">Gestione lezioni</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- GESTIONE TO-DO LIST -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="todo-list">Gestione to-do list</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- MAPPE CONCETTUALI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="mind-maps">Mappe concettuali</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- STRUMENTO DI PRESENTAZIONE -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="pres">Strumento di presentazione</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- EDITOR DI DOCUMENTI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="editor">Editor di documenti</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- GESTIONE LIBRI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="books">Gestione libri</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- GESTIONE PUBBLICAZIONI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="papers">Gestione pubblicazioni</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- FORUM -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="forum">Forum</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>

        <!-- MESSAGGI PRIVATI -->
        <div class="row">
            <div class="col-md-12">
                <h2 id="mailbox">Messaggi privati</h2>

                <p>
                    Questo progetto è nato dall'esigenza di offrire
                    agli insegnanti degli strumenti indispensabili
                    per la gestione del proprio lavoro in modo ordinato
                    e organizzato.
                </p>
            </div>
        </div>
    </div>
{% endblock %}