{% extends "base.html" %}

{% block title %}Gestione pubblicazioni{% endblock %}
{% block header-title %}Gestione pubblicazioni{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            Il modulo "gestione pubblicazioni" permette di aggiungere le tue
                            pubblicazioni cosicchè siano consultate da altri colleghi.
                        </p>
                        <p>
                            Aggiungendo una pubblicazione si devono specificare il titolo,
                            una breve premessa e allegare il file pdf della pubblicazione.
                            E' inoltre possibile non allegare alcuni file ma specificare nella
                            premessa il link alla pubblicazione (ovviamente se è presente
                            in un altro sito).
                        </p>
                    </blockquote>
                    <a onclick="mpub.openPubModal()" href="javascript:;" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Aggiungi
                    </a>
                </div>
                {% if not papers %}
                    <h1>Non ci sono pubblicazioni</h1>
                {% else %}
                    <div class="row">
                    {% for paper in papers %}
                        <div class="col-md-3 draggable">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a href="#"> <!-- Download -->
                                            {{ paper.title }}
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {{ paper.abstract }}
                                </div>
                                <div class="panel-footer">
                                    <a href="/papers/remove/{{ paper.pk }}/"
                                       class="btn btn-xs btn-danger">
                                        Rimuovi <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    {% if paper.paper_file %}
                                    <a href="{{ paper.paper_file.url }}" target="_blank"
                                       class="btn btn-xs btn-primary">
                                        Scarica <span class="glyphicon glyphicon-arrow-down"></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div id="addPubModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Aggiungi pubblicazione</h2>
                    </div>
                    <div class="modal-body">
                        <form id="paper-form" action="/papers/add/" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <label>Titolo</label>
                            <input name="title" id="title" type="text" class="form-control">
                            <label>Premessa</label>
                            <textarea name="abstract" id="abstract" class="form-control"></textarea>
                            <label>File</label>
                            <input name="p_file" id="p_file" type="file" class="form-control">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                        <input form="paper-form" type="submit" class="btn btn-primary" value="Salva">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}