{% extends "base.html" %}

{% block title %}Gestione presentazioni{% endblock %}
{% block header-title %}Gestione presentazioni{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            Il modulo "gestione presentazione" permette di creare presentazioni
                            direttamente sul web. E' un'utilità di grande importanza poichè è molto
                            versatile per brevi presentazioni e indipendenti dalla piattaforma su
                            cui vengono visualizzate.
                        </p>
                    </blockquote>
                    <a href="/presentation/create/" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Crea
                    </a>
                </div>
                {% if not pres %}
                    <h1>Non ci sono presentazioni</h1>
                {% else %}
                    <div class="row">
                    {% for p in pres %}
                        <div class="col-md-3 draggable">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a href="/presentation/load/{{ p.pk }}/">{{ p.title }}</a>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {{ p.description }}
                                </div>
                                <div class="panel-footer">
                                    <a href="/presentation/remove/{{ p.pk }}/" class="btn btn-xs btn-danger">
                                        Rimuovi <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}