{% extends "base.html" %}

{% block title %}Gestione studenti{% endblock %}
{% block header-title %}
    {{ class.name }} - {{ nums }} {% if nums == 1 %}studente{% else %}studenti{% endif %}
{% endblock %}

{% block add-css %}
    <style type="text/css">
        .panel-body .img-responsive {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    {% if nums > spc_limit %}
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Attenzione!</strong> Hai superato il limite di studenti
                        </div>
                    {% endif %}

                    <div class="btn-group">
                        <a href="/classes/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-arrow-left"></span> Gestione classi
                        </a>
                        <a onclick="mstudent.openStudentModal('{{ class.pk }}')" href="javascript:;" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Aggiungi
                        </a>
                        <a href="/classes/{{ class.pk }}/gradebook/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-book"></span> Valutazioni
                        </a>
                        <a href='/classes/{{ class.pk }}/attendance/{% now "Y-m-d" %}/' class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-list-alt"></span> Registro
                        </a>
                        <a href="/classes/{{ class.pk }}/homework/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span> Compiti
                        </a>
                        <a href="/classes/{{ class.pk }}/report/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-stats"></span> Andamento classe
                        </a>
                    </div>

                </div>
                {% if not students %}
                    <h1>Non ci sono studenti</h1>
                {% else %}
                    <div class="row">
                        {% for student in students %}
                        <div class="col-md-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a href="/students/{{ student.pk }}/">
                                            {{ student.first_name }} {{ student.last_name }}
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {% if not student.photo %}
                                    <img width="100" height="100" src="/static/images/def-user.jpg/" alt="No photo"
                                            class="img-responsive">
                                    {% else %}
                                        <img width="100" height="100" src="{{ student.photo.url }}"
                                             class="img-responsive" alt="No photo">
                                    {% endif %}
                                </div>
                                <div class="panel-footer">
                                    <a href="/classes/{{ class.pk }}/students/remove/{{ student.pk }}/"
                                       class="btn btn-xs btn-danger">
                                        Rimuovi <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    <a href="javascript:;" onclick="mstudent.openStudentModal('{{ class.pk }}', '{{ student.pk }}', {first_name: '{{ student.first_name }}',last_name: '{{ student.last_name }}',email: '{{ student.email }}',parent: '{{ student.parent }}',parent_email: '{{ student.parent_email }}'})"
                                       class="btn btn-xs btn-primary">
                                        Modifica <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Student modal -->
        <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="studentModalLabel">Aggiungi studente</h2>
                    </div>
                    <div class="modal-body">
                        <form id="student-form" action="/classes/{{ class.pk }}/students/add/" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <label>Nome</label>
                            <input id="first_name" name="first_name" type="text" class="form-control">
                            <label>Cognome</label>
                            <input id="last_name" name="last_name" type="text" class="form-control">
                            <label>Email</label>
                            <input id="email" name="email" type="text" class="form-control">
                            <label>Nome/Cognome genitore</label>
                            <input id="parent" name="parent" type="text" class="form-control">
                            <label>Email genitore</label>
                            <input id="parent_email" name="parent_email" type="text" class="form-control">
                            <label>Foto</label>
                            <input id="photo" name="photo" type="file" class="form-control">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                        <input form="student-form" type="submit" class="btn btn-primary" value="Salva">
                    </div>
                </div>
            </div>
        </div>

        <!-- Helpers -->
        <input id="helper-class" type="hidden" value="{{ class.pk }}">
{% endblock %}