{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Aggiungi nota{% endblock %}

{% block content %}
        <div class="span4 center">
            <h1>Aggiungi nota</h1>
            <form action="." method="post">{% csrf_token %}
                {{ form|bootstrap }}
                <a href="/classes/" class="btn btn-primary">
                    <span class="glyphicon glyphicon glyphicon-arrow-left"></span> Classi
                </a>
                <button type="submit" value="Apply" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> Applica
                </button>
            </form>

        </div>
{% endblock %}