{% extends "index.html" %}

{% block title %}Gestione classi{% endblock %}

{% block content %}
        <!-- Modal -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                    <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Help</h4>
                          </div>
                          <div class="modal-body">
                              <p>
                                  In the class management section you can add a class.
                                  A class is an entity with the following properties:
                                  name, school and a small description.
                                  You can also remove a class by clicking on the white
                                  cross on the top right of the class header.
                              </p>
                              <p>
                                  By clicking on the name of the class a new page will be visualized.
                                  This page contains the students of the class. In addition you can
                                  also update the properties of each class.
                              </p>
                          </div>
                    </div>
              </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Gestione compiti <small>add, delete and modify homework - <a href="#" data-toggle="modal" data-target="#helpModal">help</a></small></h1>
                </div>
                {% if not assignments %}
                    <h1>Non ci sono compiti assegnati</h1>
                {% else %}
                    <div class="row">
                    {% for assm in assignments %}
                        <div class="col-md-3 draggable">
                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="#">{{ assm.title }}</a>
                                    <button onclick="removeAssignment('{{ class.pk }}', '{{ assm.pk }}')" type="button" style="float: right;" class="btn btn-xs btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </h3>

                              </div>
                              <div class="panel-body">
                                  <p><b>Descrizione:</b> {{ assm.description }}</p>
                                  <p><b>Data inizio:</b> {{ assm.date_begin }}</p>
                                  <p><b>Data fine:</b> {{ assm.date_end }}</p>
                              </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                <a href="/classes/{{ class.pk }}/students/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon glyphicon-arrow-left"></span> {{ class.name }}
                </a>
                <a href="/classes/{{ class.pk }}/homework/add/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Aggiungi
                </a>
            </div>
        </div>
{% endblock %}