{% extends "base.html" %}

{% block title %}Calendario{% endblock %}
{% block header-title %}Calendario{% endblock %}

{% block add-css %}
        <link rel="stylesheet" href="/static/css/calendar.css">
{% endblock %}
{% block add-scripts %}
        <script src="/static/js/underscore-min.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/clndr.min.js"></script>
        <script src="/static/js/calendar.js"></script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            In the class management section you can add a class.
                            A class is an entity with the following properties:
                            name, school and a small description.
                            You can also remove a class by clicking on the white
                            cross on the top right of the class header.
                        </p>
                        <p>
                            By clicking on the name of the class a new page will be visualized.
                            This page contains the students of the class. In addition you can
                            also update the properties of each class.
                        </p>
                    </blockquote>
                </div>

                <div id="mini-clndr"></div>

                <script id="mini-clndr-template" type="text/template">
                    <div class="controls">
                        <div class="clndr-previous-button">&lsaquo;</div>
                        <div class="month"><%= month %></div>
                        <div class="clndr-next-button">&rsaquo;</div>
                    </div>

                    <div class="days-container">
                        <div class="days">
                            <div class="headers">
                                <% _.each(daysOfTheWeek, function(day) { %>
                                <div class="day-header"><%= day %></div>
                                <% }); %>
                            </div>
                            <% _.each(days, function(day) { %>
                            <div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div>
                            <% }); %>
                        </div>
                        <div class="events">
                            <div class="headers">
                                <div class="x-button">x</div>
                                <div class="event-header">EVENTI</div>
                            </div>
                            <div class="events-list">
                                <% _.each(eventsThisMonth, function(event) { %>
                                <div class="event">
                                    <a href="<%= event.url %>"><%= moment(event.date).format('MMMM Do') %>: <%=
                                        event.title %></a>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
        </div>
{% endblock %}