{% extends "index.html" %}

{% block title %}Gestione classi{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Class manager <small>add, delete and modify your classes</small></h1>
                </div>
                {% if not classes %}
                    <h1>There are no classes</h1>
                {% else %}
                    <div class="row">
                    {% for class in classes %}
                        <div class="col-md-3">
                            <div class="panel panel-success">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="/classes/{{ class.name }}/students/">{{ class.name }} - {{ class.school }}</a>
                                    <button onclick="removeClass('{{ class.name }}')" id="remove-class" type="button" style="float: right;" class="btn btn-xs btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </h3>

                              </div>
                              <div class="panel-body">
                                  {{ class.description }}
                              </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                <a href="/classes/add/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
            </div>
        </div>
{% endblock %}