{% extends "base.html" %}

{% block title %}Gestione classi{% endblock %}
{% block header-title %}Gestione classi{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            In the class management section you can add a class.
                            A class is an entity with the following properties:
                            name, school and a small description.
                            You can also remove a class by clicking on the white
                            cross on the top right of the class header.
                        </p>
                        <p>
                            By clicking on the name of the class a new page will be visualized.
                            This page contains the students of the class. In addition you can
                            also update the properties of each class.
                        </p>
                    </blockquote>
                    <a onclick="mclass.openClassModal()" href="javascript:;" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Aggiungi
                    </a>
                </div>
                {% if not classes %}
                    <h1>Non ci sono classi</h1>
                {% else %}
                    <div class="row">
                    {% for class in classes %}
                        <div class="col-md-3 draggable">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a href="/classes/{{ class.pk }}/students/">{{ class.name }} - {{ class.school }}</a>
                                    </h3>

                                </div>
                                <div class="panel-body">
                                    {{ class.description }}
                                </div>
                                <div class="panel-footer">
                                    <a href="/classes/remove/{{ class.pk }}/" class="btn btn-xs btn-danger">
                                        Rimuovi <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                    <a href="javascript:;" onclick="mclass.openClassModal('{{ class.pk }}')"
                                       class="btn btn-xs btn-primary">
                                        Modifica <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div id="addClassModal" class="modal fade" data-type="add" tabindex="-1" role="dialog" aria-labelledby="classModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="classModalLabel">Aggiungi classe</h2>
                    </div>
                    <div class="modal-body">
                        <form action="." method="post">{% csrf_token %}
                            <label>Nome</label>
                            <input id="name" type="text" class="form-control">
                            <label>Scuola</label>
                            <input id="school" type="text" class="form-control">
                            <label>Descrizione</label>
                            <textarea id="desc" class="form-control"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                        <button id="addClassModalSave" type="button" class="btn btn-primary">Salva</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}