{% extends "info.html" %}

{% block title %}Documentazione sviluppatori{% endblock %}

{% block intro %}
    <h1><a href="/">Documentazione<br>utenti</a></h1>
    <div class="line-spacer"></div>

    <div class="btn-group">
        <a class="btn btn-info" href="/login/">Login</a>
        <a class="btn btn-info" href="/signup/">Registrati</a>
        <a class="btn btn-info" href="/">Home</a>
    </div>
{% endblock %}

{% block content %}
    <section class="home-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>API INTRO</h2>

                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>

                    <h2></h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}