{% extends "info.html" %}

{% block title %}Documentazione utenti{% endblock %}

{% block intro %}
    <h1><a href="/">Documentazione<br>utenti</a></h1>
    <div class="line-spacer"></div>

    <div class="btn-group">
        <a class="btn btn-info" href="/login/">Login</a>
        <a class="btn btn-info" href="/signup/">Registrati</a>
        <a class="btn btn-info" href="/">Home</a>
    </div>
{% endblock %}

{% block content %}
    <section class="home-section align-left bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Sommario</h2>
                    <ul>
                        <li><a href="#intro-gui">Introduzione GUI</a></li>
                        <li><a href="#auth">Autenticazione</a></li>
                        <li><a href="#screen-saver">Blocco schermo</a></li>
                        <li><a href="#settings">Impostazioni</a></li>
                        <li><a href="#classes">Gestione classi</a></li>
                        <li><a href="#students">Gestione studenti</a></li>
                        <li><a href="#grade-book">Valutazioni</a></li>
                        <li><a href="#attendance">Registro</a></li>
                        <li><a href="#notes">Gestione note</a></li>
                        <li><a href="#assignments">Gestione compiti</a></li>
                        <li><a href="#lessons">Gestione lezioni</a></li>
                        <li><a href="#todo-list">Gestione to-do list</a></li>
                        <li><a href="#mind-maps">Mappe concettuali</a></li>
                        <li><a href="#pres">Strumento di presentazione</a></li>
                        <li><a href="#editor">Editor di documenti</a></li>
                        <li><a href="#books">Gestione libri</a></li>
                        <li><a href="#papers">Gestione pubblicazioni</a></li>
                        <li><a href="#forum">Forum</a></li>
                        <li><a href="#mailbox">Messaggi privati</a></li>
                    </ul>
                </div>
            </div>

            <!-- DOC INTRO -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="intro-gui">Introduzione GUI</h2>
                    <p>
                        La GUI (Graphical User Interface, Interfaccia utente) è molto
                        semplice ed intuitiva.
                    </p>
                    <p>
                        Essa è composta da 3 sezioni:
                    </p>
                    <ul>
                        <li>Barra laterale destra: contiene tutti i moduli/strumenti di Tkit.</li>
                        <li>
                            Barra in alto: contiene i vari controlli di
                            gestione delle impostazioni, notifiche di messaggi, notifiche di moduli,
                            logout e blocco schermo.
                        </li>
                        <li>
                            Contenuto: questa è la sezione in cui vengono visualizzati tutti i dati
                            memorizzati e l'interazione vera e propria con l'utente.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- AUTENTICAZIONE -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="auth">Autenticazione</h2>
                    <p>
                        Il processo di autenticazione è semplice: nella pagina principale è possibile
                        registrarsi oppure fare il login.<br> Una volta eseguito il login sarai ridirezionato
                        alla pagina principale dell'applicazione web.<br> Da questo punto in poi potrai
                        iniziare ad usare l'applicazione come utente registrato.
                    </p>
                </div>
            </div>

            <!-- BLOCCO SCHERMO -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="screen-saver">Blocco schermo</h2>
                    <p>
                        Il blocco schermo è una funzionalità di base per le applicazioni desktop e non
                        solo. Con questa feature infatti è possibile lasciare in sospeso l'applicazione
                        senza che essa esegui operazioni in background (context preprocessing ecc...)
                        per poi ritornare al lavoro.
                    </p>
                </div>
            </div>

            <!-- IMPOSTAZIONI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="settings">Impostazioni</h2>
                    <p>
                        Tkit ti offre un livello aggiuntivo di personalizzazione dell'applicazione
                        sia in senso grafico che logico.
                    </p>
                    <p>
                        Infatti con le impostazioni Tkit è possibile:
                    </p>
                    <ul>
                        <li>Cambiare il tema dell'applicazione (in modo permanente)</li>
                        <li>Cambiare il layout dell'applicazione (normale o fisso)</li>
                        <li>Gestire il limite delle assenze per ogni studente</li>
                        <li>Gestire il limite di note negative per ogni studente</li>
                        <li>Gestire il numero di studenti per classe</li>
                    </ul>
                </div>
            </div>

            <!-- GESTIONE CLASSI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="classes">Gestione classi</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- GESTIONE STUDENTI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="students">Gestione studenti</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- VALUTAZIONI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="grade-book">Valutazioni</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- REGISTRO -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="attendance">Registro</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- GESTIONE NOTE -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="notes">Gestione note</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- GESTIONE COMPITI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="assignments">Gestione compiti</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- GESTIONE LEZIONI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="lessons">Gestione lezioni</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- GESTIONE TO-DO LIST -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="todo-list">Gestione to-do list</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- MAPPE CONCETTUALI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="mind-maps">Mappe concettuali</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- STRUMENTO DI PRESENTAZIONE -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="pres">Strumento di presentazione</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- EDITOR DI DOCUMENTI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="editor">Editor di documenti</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- GESTIONE LIBRI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="books">Gestione libri</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- GESTIONE PUBBLICAZIONI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="papers">Gestione pubblicazioni</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- FORUM -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="forum">Forum</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>

            <!-- MESSAGGI PRIVATI -->
            <div class="row">
                <div class="col-md-12">
                    <h2 id="mailbox">Messaggi privati</h2>
                    <p>
                        Questo progetto è nato dall'esigenza di offrire
                        agli insegnanti degli strumenti indispensabili
                        per la gestione del proprio lavoro in modo ordinato
                        e organizzato.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}