{% extends "base.html" %}

{% block title %}Valutazioni{% endblock %}
{% block header-title %}Valutazioni classe {{ class.name }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            In the class management section you can add a class.
                            A class is an entity with the following properties:
                            name, school and a small description.
                            You can also remove a class by clicking on the white
                            cross on the top right of the class header.
                        </p>
                        <p>
                            By clicking on the name of the class a new page will be visualized.
                            This page contains the students of the class. In addition you can
                            also update the properties of each class.
                        </p>
                    </blockquote>
                    <div class="btn-group">
                        <a href="/classes/{{ class.pk }}/students/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon glyphicon-arrow-left"></span> {{ class.name }}
                        </a>
                        <a id="addGrade" href="javascript:;" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Aggiungi
                        </a>
                    </div>
                </div>

                {% if not grades %}
                    <h1>Non ci sono valutazioni</h1>
                {% else %}
                    <div class="row">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr class="success">
                                    <td>Studente</td>
                                    {% for sub in subs %}
                                        <td>
                                            {{ sub.subject }}
                                            <a href="/classes/{{ class.pk }}/gradebook/remove/{{ sub.subject }}/"
                                                class="btn btn-xs btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for s, g in grades.items %}
                                    <tr>
                                        <td>
                                            {{ s.first_name }} {{ s.last_name }}
                                        </td>
                                        {% for n in g %}
                                            <td>
                                                <input id="grade-value-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="form-control" type="text" value="{{ n.grade }}" />
                                                <button onclick="mgrade.applyGrade('{{ class.pk }}', '{{ n.pk }}', $('#grade-value-{{ forloop.parentloop.counter }}-{{ forloop.counter }}').val())" class="btn btn-sm btn-primary">
                                                    <span class="glyphicon glyphicon-ok"></span> OK
                                                </button>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addGradeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Aggiungi lezione</h2>
                    </div>

                    <div class="modal-body">
                        <form action="." method="post">{% csrf_token %}
                            <label>Argomento/Materia</label>
                            <input id="subject" type="text" class="form-control">
                            <label>Data</label>
                            <input id="date" type="text" class="date form-control">
                            <label>Tipo</label>
                            <input id="type" type="text" class="form-control">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                        <button id="addGradeModalSave" data-class="{{ class.pk }}" type="button" class="btn btn-primary">Salva</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}