{% extends "index.html" %}

{% block title %}Valutazioni{% endblock %}

{% block content %}
        <!-- Modal -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                    <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Help</h4>
                          </div>
                          <div class="modal-body">
                              <p>
                                  In the class management section you can add a class.
                                  A class is an entity with the following properties:
                                  name, school and a small description.
                                  You can also remove a class by clicking on the white
                                  cross on the top right of the class header.
                              </p>
                              <p>
                                  By clicking on the name of the class a new page will be visualized.
                                  This page contains the students of the class. In addition you can
                                  also update the properties of each class.
                              </p>
                          </div>
                    </div>
              </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Valutazioni classe {{ class.name }}<small> - <a href="#" data-toggle="modal" data-target="#helpModal">info</a></small></h1>
                </div>

                {% if not grades %}
                    <h1>Non ci sono valutazioni</h1>
                {% else %}
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Studente</td>
                                    <td>Argomento</td>
                                    <td>Voto</td>
                                    <td>Data</td>
                                    <td>Tipo</td>
                                    <td>Applica cambiamenti</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for grade in grades %}
                                    <tr>
                                        <td>{{ grade.student.first_name }}</td>
                                        <td>{{ grade.subject }}</td>
                                        <td>
                                            <input id="grade-value-{{ forloop.counter }}" class="form-control" type="text" value="{{ grade.grade }}" />
                                        </td>
                                        <td>{{ grade.date }}</td>
                                        <td>{{ grade.type }}</td>
                                        <td>
                                            <button onclick="applyGrade('{{ class.name }}', '{{ grade.pk }}', $('#grade-value-{{ forloop.counter }}').val())" class="btn btn-sm btn-primary">
                                                <span class="glyphicon glyphicon-ok"></span> OK
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/classes/{{ class.name }}/students/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon glyphicon-arrow-left"></span> {{ class.name }}
                </a>
                <a href="/classes/{{ class.name }}/gradebook/add/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Aggiungi
                </a>
            </div>
        </div>
{% endblock %}