<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Tkit - {% block title %}Home{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/base.css">

    <!-- JS -->
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Tkit</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/classes/">My classes</a></li>
                    <li><a href="/classes/">My lessons</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/logout/">{{ user.username }}, Logout</a></li>
                    {% else %}
                        <li><a href="/signup/">Sign up</a></li>
                        <li><a href="/login/">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <div class="jumbotron">
            <h1>Tkit <small>web app for teachers</small></h1>
            <p>
                Tkit is a simple and easy-to-use web app that helps teachers managing in class
                administration. Teachers can organize classes and manage
                students easily as well as preparing lessons with attached documents.<br />
                It can be used by all kinds of teachers ranging from elementary schools to
                higher education school.
            </p>
            <p><a href="/classes/" class="btn btn-primary btn-lg" role="button">Start</a></p>
        </div>
        {% endblock %}
    </div>
</body>
</html>