{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Gestione lezioni{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Gestione lezioni <small>aggiungi, elimina e modifica le tue lezioni</small></h1>
                    <blockquote>
                        <p>
                            In the class management section you can add a class.
                            A class is an entity with the following properties:
                            name, school and a small description.
                            You can also remove a class by clicking on the white
                            cross on the top right of the class header.
                        </p>
                        <p>
                            By clicking on the name of the class a new page will be visualized.
                            This page contains the students of the class. In addition you can
                            also update the properties of each class.
                        </p>
                    </blockquote>
                    <a href="/lessons/add/" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Aggiungi
                    </a>
                </div>
                {% if not lessons %}
                    <h1>Non ci sono lezioni</h1>
                {% else %}
                    <div class="row">
                    {% for lesson in lessons %}
                        <div class="col-md-3 draggable">
                            <div class="panel panel-warning">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="#">{{ lesson.title }}</a>
                                    <button onclick="removeLesson('{{ lesson.pk }}')" type="button" style="float: right;" class="btn btn-xs btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </h3>

                              </div>
                              <div class="panel-body">
                                  <p>{{ lesson.date }}</p>
                                  <p>{{ lesson.description }}</p>
                              </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}