{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Gestione lezioni{% endblock %}
{% block header-title %}Gestione lezioni{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            In the class management section you can add a class.
                            A class is an entity with the following properties:
                            name, school and a small description.
                            You can also remove a class by clicking on the white
                            cross on the top right of the class header.
                        </p>
                        <p>
                            By clicking on the name of the class a new page will be visualized.
                            This page contains the students of the class. In addition you can
                            also update the properties of each class.
                        </p>
                    </blockquote>
                    <a href="javascript:;" onclick="mlesson.openLessonModal()" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Aggiungi
                    </a>
                </div>
                {% if not lessons %}
                    <h1>Non ci sono lezioni</h1>
                {% else %}
                    <div class="row">
                    {% for lesson in lessons %}
                        <div class="col-md-3 draggable">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a href="#">{{ lesson.title }}</a>
                                    </h3>

                                </div>
                                <div class="panel-body">
                                    <p>{{ lesson.date }}</p>

                                    <p>{{ lesson.description }}</p>
                                </div>
                                <div class="panel-footer">
                                    <a href="/lessons/remove/{{ lesson.pk }}/" class="btn btn-xs btn-danger">
                                        Rimuovi <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    <a href="javascript:;" onclick="mlesson.openLessonModal('{{ lesson.pk }}')" class="btn btn-xs btn-primary">
                                        Modifica <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-type="add">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Aggiungi lezione</h2>
                    </div>
                    <div class="modal-body">
                        <form action="." method="post">{% csrf_token %}
                            <label>Titolo</label>
                            <input id="title" type="text" class="form-control">
                            <label>Descrizione</label>
                            <textarea id="desc" class="form-control"></textarea>
                            <label>Data</label>
                            <input id="date" type="text" class="form-control" data-date-format="yyyy-mm-dd">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                        <button id="addLessonModalSave" type="button" class="btn btn-primary">Salva</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}