{% extends "easy_pdf/base.html" %}

{% block extra_style %}
{% endblock %}

{% block content %}
        <h1>Informazioni generali</h1>
        <p><b>Nome:</b> {{ student.first_name }}</p>
        <p><b>Cognome:</b> {{ student.last_name }}</p>
        <p><b>Email:</b> {{ student.email }}</p>
        <p><b>Genitore di riferimento:</b> {{ student.parent }}</p>
        <p><b>Email genitore:</b> {{ student.parent_email }}</p>

        <h1>Valutazioni</h1>
        <table border="1">
            <thead>
                <tr>
                    <td>Argomento</td>
                    <td>Data</td>
                    <td>Voto</td>
                    <td>Tipo</td>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade.subject }}</td>
                    <td>{{ grade.date }}</td>
                    <td>{{ grade.grade }}</td>
                    <td>{{ grade.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1>Note</h1>
        <table border="1">
            <thead>
            <tr class="danger">
                <td>Tipo</td>
                <td>Data</td>
                <td>Commento</td>
            </tr>
            </thead>
            <tbody>
            {% for note in notes %}
            <tr>
                <td>
                    {% if note.n_type %}
                    Positiva
                    {% else %}
                    Negativa
                    {% endif %}
                </td>
                <td>{{ note.date }}</td>
                <td>{{ note.comment }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Frequenza</h1>
        <table border="1">
            <thead>
                <tr>
                    <td>Data</td>
                    <td>Tipo</td>
                </tr>
            </thead>
            <tbody>
                {% for att in attendance %}
                <tr>
                    <td>{{ att.date }}</td>
                    <td>{{ att.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}