{% extends "index.html" %}

{% block title %}Gestione classi{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        {{ class.name }} -
                        <small>
                            {{ nums }}
                            {% if nums == 1 %}
                                student
                            {% else %}
                                students
                            {% endif %}
                        </small>
                    </h1>
                </div>
                {% if not students %}
                    <h1>There are no students</h1>
                {% else %}
                    <div class="row">
                        {% for student in students %}
                            <!-- Modal -->
                            <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="studentModalLabel">Student Info</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h2>{{ student.first_name }} {{ student.last_name }}</h2>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a href="javascript:;" data-toggle="modal" data-target="#studentModal">{{ student.first_name }} {{ student.last_name }}</a>
                                            <button id="remove-student" onclick="removeStudent('{{ class.name }}', '{{ student.pk }}')" type="button" style="float: right;" class="btn btn-xs btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </h3>

                                    </div>
                                  <div class="panel-body">
                                      {% if not student.photo %}
                                        <img width="100" height="100" src="/static/img/def-user.jpg/" alt="No photo" class="img-thumbnail">
                                      {% else %}

                                      {% endif %}
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/classes/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon glyphicon-arrow-left"></span> Back to classes
                </a>
                <a href="/classes/{{ class.name }}/students/add/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
                <a href="/classes/{{ class.name }}/gradebook/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-book"></span> Gradebook
                </a>
                <a href="/classes/{{ class.name }}/attendance/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-eye-open"></span> Attendance
                </a>
            </div>
        </div>
{% endblock %}