{% extends "base.html" %}

{% block title %}Gestione studenti{% endblock %}
{% block header-title %}
    {{ class.name }} - {{ nums }} {% if nums == 1 %}studente{% else %}studenti{% endif %}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <blockquote>
                        <p>
                            In the class management section you can add a class.
                            A class is an entity with the following properties:
                            name, school and a small description.
                            You can also remove a class by clicking on the white
                            cross on the top right of the class header.
                        </p>
                        <p>
                            By clicking on the name of the class a new page will be visualized.
                            This page contains the students of the class. In addition you can
                            also update the properties of each class.
                        </p>
                    </blockquote>
                    <div class="btn-group">
                        <a href="/classes/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-arrow-left"></span> Gestione classi
                        </a>
                        <a href="/classes/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-edit"></span> Modifica
                        </a>
                        <a href="/classes/{{ class.pk }}/students/add/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Aggiungi
                        </a>
                        <a href="/classes/{{ class.pk }}/gradebook/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-book"></span> Valutazioni
                        </a>
                        <a href='/classes/{{ class.pk }}/attendance/{% now "Y-m-d" %}/' class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-list-alt"></span> Registro
                        </a>
                        <a href="/classes/{{ class.pk }}/homework/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span> Compiti
                        </a>
                        <a href="/classes/{{ class.pk }}/homework/" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-stats"></span> Andamento classe
                        </a>
                    </div>

                </div>
                {% if not students %}
                    <h1>Non ci sono studenti</h1>
                {% else %}
                    <div class="row">
                        {% for student in students %}
                            <div class="col-md-3 draggable">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a href="/students/{{ student.pk }}/">{{ student.first_name }} {{ student.last_name }}</a>
                                            <button id="remove-student" onclick="removeStudent('{{ class.pk }}', '{{ student.pk }}')" type="button" style="float: right;" class="btn btn-xs btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </h3>

                                    </div>
                                  <div class="panel-body">
                                      {% if not student.photo %}
                                        <img width="100" height="100" src="/static/images/def-user.jpg/" alt="No photo" class="img-thumbnail">
                                      {% else %}

                                      {% endif %}
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}