{% extends "base.html" %}

{% block title %}Student report{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>{{ student.first_name }} {{ student.last_name }} <small> scheda informativa</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informazioni generali</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>First name:</b> {{ student.first_name }}</p>
                        <p><b>Last name:</b> {{ student.last_name }}</p>
                        <p><b>Email:</b> {{ student.email }}</p>
                        <p><b>Parent name:</b> {{ student.parent }}</p>
                        <p><b>Parent email:</b> {{ student.parent_email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Valutazioni</h3>
                    </div>
                    <div class="panel-body">
                        <div id="grades-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Note</h3>
                    </div>
                    <div class="panel-body">
                        <div id="notes-chart"></div>
                        <a href="/students/{{ student.pk }}/notes/add/" class="btn btn-sx btn-primary">
                            <span class="glyphicon glyphicon glyphicon-plus"></span> Aggiungi
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Presenze/Assenze</h3>
                    </div>
                    <div class="panel-body">
                        <div id="attendance-chart"></div>
                        <a href="/students/{{ student.pk }}/attendance/add/" class="btn btn-sx btn-primary">
                            <span class="glyphicon glyphicon glyphicon-plus"></span> Aggiungi
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/classes/{{ student.s_class.pk }}/students/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon glyphicon-arrow-left"></span> {{ student.s_class.name }}
                </a>
            </div>
        </div>
{% endblock %}