{% extends "index.html" %}

{% block title %}Gestione studenti{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        {{ class.name }} -
                        <small>
                            {{ nums }}
                            {% if nums == 1 %}
                                studente
                            {% else %}
                                studenti
                            {% endif %}
                        </small>
                    </h1>
                </div>
                {% if not students %}
                    <h1>Non ci sono studenti</h1>
                {% else %}
                    <div class="row">
                        {% for student in students %}
                            <div class="col-md-3 draggable">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <a href="/students/{{ student.pk }}/">{{ student.first_name }} {{ student.last_name }}</a>
                                            <button id="remove-student" onclick="removeStudent('{{ class.pk }}', '{{ student.pk }}')" type="button" style="float: right;" class="btn btn-xs btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </h3>

                                    </div>
                                  <div class="panel-body">
                                      {% if not student.photo %}
                                        <img width="100" height="100" src="/static/img/def-user.jpg/" alt="No photo" class="img-thumbnail">
                                      {% else %}

                                      {% endif %}
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/classes/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon glyphicon-arrow-left"></span> Gestione classi
                </a>
                <a href="/classes/{{ class.pk }}/students/add/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Aggiungi
                </a>
                <a href="/classes/{{ class.pk }}/gradebook/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-book"></span> Valutazioni
                </a>
                <a href="/classes/{{ class.pk }}/attendance/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-eye-open"></span> Frequenza
                </a>
                <a href="/classes/{{ class.pk }}/homework/" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Compiti
                </a>
            </div>
        </div>
{% endblock %}