{% extends "base.html" %}

{% block title %}Student report{% endblock %}
{% block header-title %}{{ student.first_name }} {{ student.last_name }} <small> scheda informativa</small>{% endblock %}
{% block add-scripts %}
    <script>
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(mgrade.drawGradesChart);
        google.setOnLoadCallback(mnote.drawNotesChart);
        google.setOnLoadCallback(mattendance.drawAttendanceChart);
        google.setOnLoadCallback(mgrade.drawPerformance);
    </script>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">

                    <blockquote>
                        <p>
                            In the class management section you can add a class.
                            A class is an entity with the following properties:
                            name, school and a small description.
                            You can also remove a class by clicking on the white
                            cross on the top right of the class header.
                        </p>
                        <p>
                            By clicking on the name of the class a new page will be visualized.
                            This page contains the students of the class. In addition you can
                            also update the properties of each class.
                        </p>
                    </blockquote>
                    <a href="/classes/{{ student.s_class.pk }}/students/" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon glyphicon-arrow-left"></span> {{ student.s_class.name }}
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon glyphicon-file"></span> Salva report (PDF)
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informazioni generali</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>First name:</b> {{ student.first_name }}</p>
                        <p><b>Last name:</b> {{ student.last_name }}</p>
                        <p><b>Email:</b> {{ student.email }}</p>
                        <p><b>Parent name:</b> {{ student.parent }}</p>
                        <p><b>Parent email:</b> {{ student.parent_email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Valutazioni</h3>
                    </div>
                    <div class="panel-body">
                        <div id="grades-chart"></div>
                        <div id="performance-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Note</h3>
                    </div>
                    <div class="panel-body">
                        <div id="notes-chart"></div>
                        {% if not notes %}
                            <p>Non ci sono note</p>
                        {% else %}
                            <!--n_type = models.BooleanField()
                            date = models.DateField()
                            comment = models.TextField()-->
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr class="danger">
                                        <td>Tipo</td>
                                        <td>Data</td>
                                        <td>Commento</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for note in notes %}
                                    <tr>
                                        <td>
                                            {% if note.n_type %}
                                                Positiva
                                            {% else %}
                                                Negativa
                                            {% endif %}
                                        </td>
                                        <td>{{ note.date }}</td>
                                        <td>{{ note.comment }}</td>
                                        <td>
                                            <a href="/notes/remove/{{ note.pk }}/"
                                               class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        <a id="addNote" href="javascript:;" class="btn btn-sx btn-primary">
                            <span class="glyphicon glyphicon glyphicon-plus"></span> Aggiungi
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Presenze/Assenze</h3>
                    </div>
                    <div class="panel-body">
                        <div id="attendance-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Aggiungi nota</h2>
                    </div>

                    <div class="modal-body">
                        <form action="." method="post">{% csrf_token %}
                            <div class="checkbox">
                                <label>
                                    <input id="positive" type="checkbox"> Positiva
                                </label>
                            </div>
                            <label>Data</label>
                            <input id="date" type="text" class="form-control" data-date-format="yyyy-mm-dd">
                            <label>Commento</label>
                            <textarea id="comment" class="form-control"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                        <button id="addNoteModalSave" data-student="{{ student.pk }}" type="button" class="btn btn-primary">Salva</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}