@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.deck-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}
.js .deck-container {
  visibility: hidden;
}
.ready .deck-container {
  visibility: visible;
}
.touch .deck-container {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

.deck-loading {
  display: none;
}

.slide {
  width: auto;
  min-height: 100%;
  position: relative;
}

.deck-before, .deck-previous, .deck-next, .deck-after {
  position: absolute;
  left: -999em;
  top: -999em;
}

.deck-current {
  z-index: 2;
}

.slide .slide {
  visibility: hidden;
  position: static;
  min-height: 0;
}

.deck-child-current {
  position: static;
  z-index: 2;
}
.deck-child-current .slide {
  visibility: hidden;
}
.deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
  visibility: visible;
}

#menu-trigger {
	position:fixed;
	z-index: 9999;
	width: 30px;
	height: 30px;
	right: 0px;
	background: #323244;
	border-radius: 0px 0px 0px 10px;
	cursor: pointer;
}

#menu {
	position: fixed;
	z-index: 9999;
	width: 160px;
	height: 100%;
	right: -210px;
	padding: 20px;
	background: #323244;
	color: #e9e9e9;
	font-family: 'Source Sans Pro', sans-serif;
}

button, input[type="button"] {
	border: none;
	padding: 5px 8px;
	background: #65ac55;
}